<h1>Lists</h1>

<ul>
  <%= link_to "Create new list", new_list_path  %>
  <% @lists.each do |list| %>
  <li>
    <%= list.name %> <%= link_to "go there", list_path(list) %>
  </li>
  <% end %>
</ul>

